name: publish develop image to docker hub

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          node-version : [21.x]
          os: [ubuntu-latest]
          arch: [amd64]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/iod-blog-team:latest
          file: ./Dockerfile
          build-args: |
            NODE_VERSION=${{ matrix.node-version }}
            OS=${{ matrix.os }}
            ARCH=${{ matrix.arch }}
            NODE_ENV='development'
            DB_NAME=${{ secrets.DB_NAME }}
            DB_USER=${{ secrets.DB_USER }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            DB_HOST=${{ secrets.DB_HOST }}
            DB_PORT=${{ secrets.DB_PORT }}
            DB_SSL=${{ secrets.DB_SSL }}
            BASE_URL=${{ secrets.BASE_URL }}
            PORT=${{ secrets.PORT }}
            CORS_ORIGIN=${{ secrets.CORS_ORIGIN }}
            

      - name: Image digest
        run: echo ${{ steps.docker.outputs.digest }}



        